@tailwind base;
@tailwind components;
@tailwind utilities;

/* faire le caroussel, pour l'instant juste une image statique */
.background-caroussel {
    position: relative;
    background-image: url('/image-caroussel-accueil1.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}

